<ion-view view-title="Product-Filter"
          ng-controller="ProductListCtrl">
    
  <ion-content>
            
     <ion-list>
               
            <!--  CATEGORIES -->
                     
                <!-- ------------------------------------------  -->
               <ion-item class="item-divider  item-icon-left">
                      <i class="icon ion-clipboard"></i>
                      search term
                </ion-item>

         
                <!-- ------------------------------------------  -->
                <ion-item>
                    <label class="item item-input">
                    
                        <span class="input-label">Filter 1 (quick filter):</span>
                        <input  type="text" 
                                name="filtercategory"
                                id="filtercategory" 
                                placeholder="write string to filter with"
                                ng-model="myfilter.txt1"
                                >
                    </label>  
                </ion-item>
         
                <!-- ------------------------------------------  -->
                <ion-item>
                    <label class="item item-input">
                    
                        <span class="input-label">Filter 2:</span>
                        <input  type="text" 
                                name="filtercategory"
                                id="filtercategory" 
                                placeholder="write string to filter with"
                                ng-model="myfilter.txt2"
                                >
                    </label>  
                </ion-item>
         
               <!-- ------------------------------------------  -->
                <ion-item>
                    <label class="item item-input">
                    
                        <span class="input-label">Filter 3:</span>
                        <input  type="text" 
                                name="filtercategory"
                                id="filtercategory" 
                                placeholder="write string to filter with"
                                ng-model="myfilter.txt3"
                                >
                    </label>  
                </ion-item>
         
          
         <ion-item><b>Filter-Summary</b>
            <p>-{{myfilter.txt1}}</p>
             <p>-{{myfilter.txt2}}</p>
            <p>-{{myfilter.txt3}}</p>
         </ion-item>
         
         <!-- ------------------------------------------  -->     
                <ion-item class="item-divider item-icon-left">
                   Explantions  
                </ion-item>
               <!-- ------------------------------------------  -->
                <p>- (*) Quick filter = the same filter as on productList page. Filter 2 and 3 are accessible only here !</p>
                <p>- </p>
             
      
      </ion-list>
      
  </ion-content>
</ion-view>