<ion-view view-title="404 - NOT FOUND"
          ng-controller="AboutController">
    
      
  <!-- --------------------------------------------------------   -->
   <ion-content>

      <!-- ---------------------------------------------- -->
    
       <div class="center">
           <p></p>
          <h1> PAGE NOT FOUND </h1>
   
          <img src="../img/stop.jpg" width="200px">   
           <p></p>
           <p>
               Please open side menu 
               <br/>
               <i class="ion-arrow-down-c"></i>
               <br/>
               ( click upper left corner: <i class="ion-navicon-round"></i>)
           </p>
       </div>
           
  </ion-content>    
  <!-- -------------------------------------------------------- -->    
    
  <!--  
       <ion-footer-bar class="bar">
          <div class="button-bar">
            <button class="button button-royal">T32</button>  
          </div>
       </ion-footer-bar>
  --> 
</ion-view>