<ion-view view-title="ProductList"
          ng-controller="ProductListCtrl"
          >
    

      <ion-header-bar class="bar bar-subheader"> 
         <!-- ------------------------------------------  -->
      <span class="iwt center button-bar">
          <span ng-class="{'red': filterIsSet}">
          &nbsp;<i class="pull-left ion-funnel"></i>&nbsp;
          </span>
          <span width="70px"><input    
                class="inputstyle"
                name="filtercategory"
                id="filtercategory" 
                placeholder="write string to filter"
                ng-model="myfilter.txt1"
           ></span>
          &nbsp;<a ng-click="myfilter.txt1 ='';myfilter.txt2='';myfilter.txt3='';"><i class="pull-left ion-android-delete"></i></a>&nbsp;
 
       </span>
        
    </ion-header-bar>    
        
  <ion-content class="has-header">

  
  <!-- ------------------------------------------------------- -->
  <ion-content>
      
      <div class="list" 
           ng-repeat="thisProduct in products | filter:myfilter.txt1 | filter:myfilter.txt2 | filter:myfilter.txt3 "> 
        <a class="item item-thumbnail-left item-icon-right" 
            ng-href="#/app/product/{{thisProduct.id}}" >
            
            <img src={{thisProduct.image}} > 
            <h2> {{thisProduct.product_name_short}} </h2>
            <p> {{thisProduct.product_name_long}} </p>
            
            <i class="icon ion-android-arrow-dropright"></i>
        </a>     
      </div>
      
  </ion-content>    
        <!--  shows the current filter terms, e.g. "current filter [ abc / / test ] " -- >> if any filter is set, written in red -->


        <ion-footer-bar class="bar">
            <div ng-class="{'red': filterIsSet}">Current filter: {{filterTerms}}</div>
        </ion-footer-bar>


</ion-view>
