<ion-view view-title="ProductList"
          ng-controller="ProductListCtrl">
    <ion-header-bar class="bar bar-subheader"> 
        <div class="button-bar">
            <button class="button button-balanced">T31</button>
            <button class="button button-assertive">T33</button>
        </div>
    </ion-header-bar>
    
  <ion-content class="has-header">
         
      <div class="list" 
           ng-repeat="product in products">
        <a class="item item-thumbnail-left item-icon-right" 
            ng-href="#/app/product/{{product.id}}" >
            
            <img src={{product.image}} > 
            <h2> {{product.product_name_short}} </h2>
            <p> {{product.product_name_long}} </p>
            
            <i class="icon ion-android-arrow-dropright"></i>
        </a>     
      </div>
 
      
  </ion-content>    
<!--     
        <ion-footer-bar class="bar">
            <div class="button-bar">
                <button class="button button-royal">T32</button>  
            </div>
        </ion-footer-bar>
-->

</ion-view>
