<ion-view view-title="ProjectList"
          ng-controller="ProjectListCtrl"
          >
    <ion-header-bar class="bar bar-subheader">
    
     
        
       <div class="iwt center button-bar">
          <span ng-class="{'red': projectFilterIsSet}">
          &nbsp;<i class="pull-left ion-funnel"></i>&nbsp;
          </span>
          <span width="70px"><input    
                class="inputstyle"
                name="filtercategory"
                id="filtercategory" 
                placeholder="write string to filter"
                ng-model="myprojectfilter.txt1"
           ></span>
          &nbsp;<a ng-click="myprojectfilter.txt1 ='';">
                    <i class="pull-left ion-android-delete"></i>
                </a>&nbsp;

          
       </div>
        
        
        
        
    </ion-header-bar>
    
  <ion-content class="has-header">  <!--  class="has-header">    -->
      
      <ion-list ng-repeat="project in projects | filter:myprojectfilter.txt1">
      
         <a class="item  item-icon-right" 
            ng-href="#/app/project/{{project.id}}">  
                         
           <div class="row">

                   <div class="col col-20 ">
                        <img src={{project.image}} width="100%">
                    </div>

                   <div class="col col-4 bg-active"
                        ng-if="project.id == current_project_id">
                       &nbsp;&nbsp;
                   </div>

                    <div class="col col-60">
                        <b>{{project.project_identifier_short}} </b>   
                        <p>{{project.project_identifier_long}}  </p>
                        <p><span  class="ce_badge"
                                  ng-if="project.id == current_project_id">  
                              >&nbsp;Currently Selected&nbsp;</span>
                        </p>

                     </div>

                     <div class="col col-6">    
                        <i class="icon ion-android-arrow-dropright">
                    </i>
                </div>      
             </div>  
          
        </a> 
             
       
    
      </ion-list>
  </ion-content>    
    
    <!-- --------------------  FOOTER ----------------------------- -->
    <ion-footer-bar class="bar">
        <div class="button-bar">
            total: {{projects.length}} projects | &nbsp;&nbsp;
            <span  ng-if="current_project_id != 0">

                   <a class="" 
                      ng-href="#/app/project/{{current_project_id}}"
                      >Goto current</a>                
            </span>
           <span class="" 
              ng-if="current_project_id == 0">no current selected</span>

        </div>
    </ion-footer-bar>


</ion-view>
