<ion-view view-title="Project"
          ng-controller="ProjectCtrl"
          >
    <ion-header-bar class="bar bar-subheader"> 
        <b>{{project.id}}|{{project.address_town}}:&nbsp;&nbsp;</b> 
        <span class="blue bold">{{project.project_identifier_short}}</span>
    </ion-header-bar>
    
  <ion-content class="has-header">
      
      <div class="row">
          <div class="col-4">
              <img src={{project.image}} width="200">
          </div>
          
          <div class="col-6">
              <p></p>
            <p class="center">  
                <button ion-button 
                        class="button button-positive"
                        ng-if="current_project_id != project.id"
                        ng-click="setCurrentProjectID(project.id)">Set as current!</button>
                <button ion-button 
                        class="button button-positive"
                        ng-if="current_project_id == project.id"
                        ng-click="setCurrentProjectID(0)">UNSet current!</button>
            </p>
              
              
            <b class="row subheader">Task Description</b>
            <p>{{project.project_identifier_long}}</p>  
              
        </div>
          
          
          
      </div>
      
      <!-- -----------------------------------------  -->
      <div>
            <p>  </p>
             <hr/>
            <b class="row subheader">Location</b>
            <p>{{project.address_postal_code}} &nbsp;&nbsp;{{project.address_town}} <br/>
            {{project.address_street}}</p> 
            

          
            <b class="row subheader">Contact</b>
            <p>
              <b>Name:</b> {{project.contact_name}} <br/>
                <b>Phone:</b> <a href="tel:"+{{project.contact_phone}} >{{project.contact_phone}}</a>ionic <br/>
              <b>Remarks:</b> {{project_freetext}}
            </p>
      </div>
      
      
 
      
  </ion-content>    
<!--     
        <ion-footer-bar class="bar">
            <div class="button-bar">
                <button class="button button-royal">T32</button>  
            </div>
        </ion-footer-bar>
-->

</ion-view>
